<div class="card">
  <div class="card-header">
    <h3><i class="fa fa-bed mr-2"></i>Atención Pacientes</h3>
  </div>
  <div class="card-body"> <!-- *ngIf="actividad === 0"> -->
    <div class="row">
      <div class="col-md-3">
        <div class="md-form d-inline-flex">
          <label for="brazalete">Brazalete:</label>
          <input class="form-control-sm" type="text" id="brazalete" name="brazalete" [(ngModel)]="brazalete" mdbActive [disabled]="editando">
          <button type="button" class="btn btn-elegant btn-sm" mdbRippleRadius (click)="findbrazalete()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 blue-grey-text font-weight-light" >
        <label>Num. Afiliación:</label>
      </div>
      <div class="col-md-6 alert-right" >
        {{ infoPaciente.paciente.Afiliacion }}
      </div>
    </div><div class="row">
      <div class="col-md-1 blue-grey-text font-weight-light" >
        <label>Paterno:</label>
      </div>
      <div class="col-md-2">
        {{ infoPaciente.paciente.Paterno }}
      </div>
      <div class="col-md-1 blue-grey-text font-weight-light" >
        <label>Materno:</label>
      </div>
      <div class="col-md-2">
        {{ infoPaciente.paciente.Materno }}
      </div>
      <div class="col-md-1 blue-grey-text font-weight-light" >
        <label>Nombre:</label>
      </div>
      <div class="col-md-2">
        {{ infoPaciente.paciente.Nombre }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 blue-grey-text font-weight-light">
        <label>Fecha Nacimiento:</label>
      </div>
      <div class="col-md-5">
        {{ infoPaciente.paciente.fecha_nacimiento | date }}
      </div>
    </div>
    <hr>
    <mat-tab-group>
      <mat-tab label="Información de Ingreso">
        <br>
        <div class="row">
          <div class="col-md-3 blue-grey-text font-weight-light">
            Fecha de Ingreso:
          </div>
          <div class="col-md-2">
            {{ infoPaciente.fecha_ingreso | date}}
          </div>
          <div class="col-md-1 blue-grey-text font-weight-light">
            Sala:
          </div>
          <div class="col md3">
            {{ infoPaciente.asignacion.sala.desc_sala }}
          </div>
          <div class="col-md-1 blue-grey-text font-weight-light">
            Cama:
          </div>
          <div class="col-md-2">
            {{ infoPaciente.asignacion.cama.desc_cama }}
          </div>
        </div>
        <div style="border: 1px solid lightsteelblue; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
            margin-top: 5px; padding: 10px;">
            <div class="row">
              <div class="col-md-12">
                <h5>Motivo de Ingreso</h5>
              </div>
            </div>
            <div class="mat-divider"></div>
            <div class="row">
              <div class="col-md-12">
                <p class="font-weight-light">{{ infoPaciente.motivoIngreso }}</p>
              </div>
            </div>
        </div>
      </mat-tab>
      <mat-tab label="Historia">
        <div class="card-footer">
          <button mat-button class="font-weight-light">
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            Nota
          </button>
          <button mat-button class="font-weight-light" (click)="showPrescripcionDialgo()">
            <i class="fa fa-edit" aria-hidden="true"></i>
            Nva. Presc.
          </button>
          <button mat-button class="font-weight-light">
            <i class="fa fa-exchange" aria-hidden="true"></i>
            Cambiar Presc.
          </button>
          <button mat-button class="font-weight-light" (click)="showAplicacionDialgo()">
            <i class="fas fa-pills"></i>
            Aplicacion Med.
          </button>
          <button mat-button class="font-weight-light">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
            S. Vitales.
          </button>
          <button mat-button class="font-weight-light ml-4">
            <i class="fas fa-file-medical"></i>
            Presc. Extraordinaria.
          </button>

          <!--<button class="btn btn-outline-default btn-sm" type="button" (click)="addButton()" mdbRippleRadius [disabled]="actividad">
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            Nota
          </button>
          <button class="btn btn-outline-warning btn-sm" type="button" (click)="editButton()" mdbRippleRadius [disabled]="actividad">
            <i class="fa fa-edit"></i>
            Editar
          </button>-->
        </div>
        <br>
        <p>Historia Clínica</p>
      </mat-tab>
    </mat-tab-group>

    <div style="width: 100%;">
      <!--<ag-grid-angular #agGrid style="width: 100%; height: 250px;" class="ag-theme-blue"
                       id="bitacoraGrid"
                       rowHeight="18px"
                       [gridOptions]="bitacoraGrid"
                       [autoGroupColumnDef]="bitacoraGrid.columnDefs"
                       [rowData]="bitacoraGrid.rowData"
                       (selectionChanged)="onMedicosSelected($event)"
                       (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular> -->
    </div>
  </div>
</div>



<!--Modal: Contact form-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fas fa-pills mr-2"></i> Prescripción </h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <div class="row align-bottom">
          <div class="col-md-1">
            <div class="md-form">
              <input type="text" id="grupo" class="form-control" mdbActive maxlength="3">
              <label for="grupo">Gpo:</label>
            </div>
          </div>
          <div class="col-md-1">
            <div class="md-form">
              <input type="text" id="gen" class="form-control" mdbActive maxlength="3">
              <label for="gen">Gen:</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="md-form">
              <input type="text" id="generico" class="form-control" mdbActive maxlength="4">
              <label for="generico">Esp:</label>
            </div>
          </div>
          <div class="col-md-1">
            <div class="md-form">
              <input type="text" id="Dif" class="form-control" mdbActive maxlength="2">
              <label for="dif">Dif:</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span>Paracetamol comprimido de 20mg.</span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <div class="md-form">
              <textarea type="text" id="indicacion" class="form-control" mdbActive ></textarea>
              <label for="indicacion">Indicaciones:</label>
            </div>
          </div>
          <div class="col-md-1">
            <div class="md-form">
              <input type="text" id="cantidad" class="form-control" mdbActive >
              <label for="cantidad">Cant:</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="md-form">
              <mat-select placeholder="Frec." name="frec">
                <mat-option value="0">c/ 4 hrs.</mat-option>
                <mat-option value="1">c/ 6 hrs.</mat-option>
                <mat-option value="2">c/ 8 hrs.</mat-option>
                <mat-option value="3">c/ 12 hrs.</mat-option>
                <mat-option value="4">c/ 24 hrs.</mat-option>
              </mat-select>
            </div>
            Hrs.
          </div>
        </div>
        <div class="text-center mt-1-half">
          <button class="btn btn-info mb-2 waves-light" mdbWavesEffect>Send <i class="fa fa-send ml-1"></i></button>
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Contact form-->
