
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">SAI-Unidosis</a></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbRippleRadius>Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Catalogos<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a [routerLink]="['/pacientes']" class="dropdown-item waves-light" mdbRippleRadius>Pacientes</a>
          <a [routerLink]="['/medicos']" class="dropdown-item waves-light" mdbRippleRadius>Médico</a>
          <a [routerLink]="['/enfermeras']" class="dropdown-item waves-light" mdbRippleRadius>Enfermer@s</a>
          <a [routerLink]="['/salas']" class="dropdown-item waves-light" mdbRippleRadius>Salas o Cuartos</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Gestión de Piso<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbRippleRadius>Ingresos - "Carlos"</a>
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbRippleRadius>Egresos - "Carlos"</a>
          <div class="divider dropdown-divider"></div>
          <a [routerLink]="['/atencionpacientes']" class="dropdown-item waves-light" mdbRippleRadius>Atención Pacientes</a>
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbRippleRadius>Aplicacion</a>
          <div class="divider dropdown-divider"></div>
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbRippleRadius>Solicitudes Extraordinarias de Medicaentos</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Consultas<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbRippleRadius>Reabasto Servicio</a>
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbRippleRadius>Reabasto Farmacia</a>
          <div class="divider dropdown-divider"></div>
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbRippleRadius>Inventarios</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Procesos<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbRippleRadius>Recibo de Productos de Farmacia</a>
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbRippleRadius>Devolución de Prodcutos a Farmaica</a>
        </div>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline  waves-light" mdbRippleRadius>
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<main class="container">
  <!--<app-medicos></app-medicos>-->
  <br>
  <router-outlet></router-outlet>
</main>


